# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/

# prisma
/prisma/*.db
/prisma/*.db-journal

# env
.env
.env*.local

# debug / os
npm-debug.log*
.DS_Store
*.pem

# typescript
next-env.d.ts
*.tsbuildinfo
